<!-- admin-page-component-list.component -->

<h3>Page constructor</h3>

<div class="ui-edit-component-content">
    <span>block_img_right_text_left_fullscreen</span>
    <button name="" id="" value="" routerLink="/admin/component-editor/null" class="button button-primary button-default">Edit</button>    
</div>

<div class="ui-edit-component-content">
    <span>block_img_right_text_left</span>
    <button name="" id="" value="" routerLink="/admin/component-editor/null" class="button button-primary button-default">Edit</button>    
</div>

<div class="ui-edit-component-content">
    <span>block_avantages_4</span>
    <button name="" id="" value="" routerLink="/admin/component-editor/null" class="button button-primary button-default">Edit</button>    
</div>

<div class="ui-edit-component-content">
    <span>block_services_24</span>
    <button name="" id="" value="" routerLink="/admin/component-editor/null" class="button button-primary button-default">Edit</button>    
</div>

<div class="ui-edit-component-content">
    <span>block_stats_3</span>
    <button name="" id="" value="" routerLink="/admin/component-editor/null" class="button button-primary button-default">Edit</button>    
</div>

<div class="ui-edit-component-content">
    <span>block_faq</span>
    <button name="" id="" value="" routerLink="/admin/component-editor/null" class="button button-primary button-default">Edit</button>    
</div>
      