<div class="com-admin-sidebar">
  <div class="logged_user">admin@admin.com</div>

  <div class="menu-item-title">Pages</div>
  <div class="menu-item">
    <a href="">Index</a>
  </div>
  <div class="menu-item">
    <a href="">Recruitment</a>
  </div>
  <div class="menu-item">
    <a href="">Clan Manager</a>
  </div>

  <div class="separator"></div>

  <div class="menu-item-title">Options</div>
  <div class="menu-item">
    <a href="">Global Config</a>
  </div>

  <div class="separator"></div>

</div>
