<!-- admin-sidebar.component -->

<div class="ui-logged-user">
  <div class="ui-username">_DES1GNER_</div>
  <svg class="ui-list-icon" id="ui-logout" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">

  </svg>
</div>

<div class="ui-group-list-title">Pages</div>

<div class="ui-group-list-item ui-current">
  <svg class="ui-list-icon" id="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">

  </svg>
  <a class="" href="#" target="">Index</a>
</div>


<div class="ui-group-list-item">
    <svg class="ui-list-icon" id="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  
    </svg>
    <a class="" href="#" target="">Recruitment</a>
</div>

<div class="ui-group-list-item">
    <svg class="ui-list-icon" id="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  
    </svg>
    <a class="" href="#" target="">Clan Manager</a>
</div>

<div class="ui-group-list-title">Global Config</div>

<div class="ui-group-list-item">
  <svg class="ui-list-icon" id="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">

  </svg>
  <a class="" href="#" target="">Group 2 link 1</a>
</div>

<div class="ui-group-list-item">
    <svg class="ui-list-icon" id="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  
    </svg>
    <a class="" href="#" target="">Group 2 link 1</a>
</div>

<div class="ui-group-list-item">
    <svg class="ui-list-icon" id="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  
    </svg>
    <a class="" href="#" target="">Group 2 link 2</a>
</div>

<div class="ui-group-list-item">
    <svg class="ui-list-icon" id="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  
    </svg>
    <a class="" href="#" target="">Group 2 link 3</a>
</div>