<div class="wrapper split_screen admin full-screen">
    <div class="container">

        <div class="wrapper admin_panel">
            <div class="container">
                <div class="menu-item user">admin@admin.com</div>

                <div class="menu-item group-title">Страницы</div>
                <div class="menu-item group-item">
                    <a href="">Главная</a>
                </div>
                <div class="menu-item group-item">
                    <a href="">Вербовка</a>
                </div>
                <div class="menu-item group-item">
                    <a href="">Менеджер плюх</a>
                </div>

                <div class="menu-item group-title">Другое</div>
                <div class="menu-item group-item">
                    <a href="">Раз</a>
                </div>
                <div class="menu-item group-item">
                    <a href="">Два</a>
                </div>
                <div class="menu-item group-item">
                    <a href="">Три</a>
                </div>
            </div>
        </div>
        <div class="wrapper admin_content">
            <div class="container">Контент</div>
        </div>        

    </div>
</div>



