<div class="wrapper split_screen admin full-screen">
    <div class="container">

        <div class="wrapper admin_panel">
            <div class="container">
                <div class="menu-item user">admin@admin.com</div>

                <div class="menu-item group-title">Страницы</div>
                <div class="menu-item group-item">
                    <a href="">Главная</a>
                </div>
                <div class="menu-item group-item">
                    <a href="">Вербовка</a>
                </div>
                <div class="menu-item group-item">
                    <a href="">Менеджер плюх</a>
                </div>

                <div class="menu-item group-title">Другое</div>
                <div class="menu-item group-item">
                    <a href="">Раз</a>
                </div>
                <div class="menu-item group-item">
                    <a href="">Два</a>
                </div>
                <div class="menu-item group-item">
                    <a href="">Три</a>
                </div>
            </div>
        </div>
        <div class="wrapper admin_content">
            <div class="container">

                <h5>Редактирование Блок 1</h5>
                <h6>(block_img_right_text_left_fullscreen)</h6>

                <div class="com_vars">
                    <label>Заголовок блока</label>
                    <input type="text" class="" id="" />
                </div>

                <div class="com_vars">
                    <label>Подзаголовок блока</label>
                    <textarea class="" id="" rows="5"></textarea>
                </div>

                <div class="com_vars">
                    <label>Текст кнопки #1</label>
                    <input type="text" class="" id="" />
                    <label>Ссылка кнопки #1</label>
                    <input type="text" class="" id="" />
                </div>                

                <div class="com_vars">
                    <label>Текст кнопки #2</label>
                    <input type="text" class="" id="" />
                    <label>Ссылка кнопки #2</label>
                    <input type="text" class="" id="" />
                </div>                

            </div>
        </div>        

    </div>
</div>



