<div class="com-wrapper full-screen">
    <div class="com-container com-admin">

        <!-- Sidebar /-->
        <div class="com-admin-sidebar">
            <div class="logged_user">admin@admin.com</div>

            <div class="menu-item-title">Pages</div>
            <div class="menu-item">
                <a href="">Index</a>
            </div>
            <div class="menu-item">
                <a href="">Recruitment</a>
            </div>
            <div class="menu-item">
                <a href="">Clan Manager</a>
            </div>

            <div class="separator"></div>

            <div class="menu-item-title">Options</div>
            <div class="menu-item">
                <a href="">Global Config</a>
            </div>

            <div class="separator"></div>

        </div>
        <!-- Sidebar /-->

        <!-- Content Box /-->
        <div class="com-admin-content">
            <h3>%Page_Name% constructor</h3>
            <div class="edit-component">
                <span>block_img_right_text_left_fullscreen</span>
                <button name="" id="" value="" class="button button-primary button-default">Edit</button>
            </div>
            <div class="edit-component">
                <span>block_img_left_text_right</span>
                <button name="" id="" value="" class="button button-primary button-default">Edit</button>
            </div>
            <div class="edit-component">
                <span>block_img_right_text_left</span>
                <button name="" id="" value="" class="button button-primary button-default">Edit</button>
            </div>
            <div class="edit-component">
                <span>block_avantages_4</span>
                <button name="" id="" value="" class="button button-primary button-default">Edit</button>
            </div>
            <div class="edit-component">
                <span>block_services_24</span>
                <button name="" id="" value="" class="button button-primary button-default">Edit</button>
            </div>
            <div class="edit-component">
                <span>block_stats_3</span>
                <button name="" id="" value="" class="button button-primary button-default">Edit</button>
            </div>
            <div class="edit-component">
                <span>block_faq</span>
                <button name="" id="" value="" class="button button-primary button-default">Edit</button>
            </div>
        </div>
        <!-- Content Box /-->

    </div>
</div>


<!-- <div class="wrapper split_screen admin full-screen">
    <div class="container">

        <div class="wrapper admin_panel">
            <div class="container">
                <div class="menu-item user">admin@admin.com</div>

                <div class="menu-item group-title">Страницы</div>
                <div class="menu-item group-item">
                    <a href="">Главная</a>
                </div>
                <div class="menu-item group-item">
                    <a href="">Вербовка</a>
                </div>
                <div class="menu-item group-item">
                    <a href="">Менеджер плюх</a>
                </div>

                <div class="menu-item group-title">Другое</div>
                <div class="menu-item group-item">
                    <a href="">Раз</a>
                </div>
                <div class="menu-item group-item">
                    <a href="">Два</a>
                </div>
                <div class="menu-item group-item">
                    <a href="">Три</a>
                </div>
            </div>
        </div>
        <div class="wrapper admin_content">
            <div class="container">

                <h5>Редактирование Блок 1</h5>
                <h6>(block_img_right_text_left_fullscreen)</h6>

                <div class="com_vars">
                    <label>Заголовок блока</label>
                    <input type="text" class="" id="" />
                </div>

                <div class="com_vars">
                    <label>Подзаголовок блока</label>
                    <textarea class="" id="" rows="5"></textarea>
                </div>

                <div class="com_vars">
                    <label>Текст кнопки #1</label>
                    <input type="text" class="" id="" />
                    <label>Ссылка кнопки #1</label>
                    <input type="text" class="" id="" />
                </div>                

                <div class="com_vars">
                    <label>Текст кнопки #2</label>
                    <input type="text" class="" id="" />
                    <label>Ссылка кнопки #2</label>
                    <input type="text" class="" id="" />
                </div>                

            </div>
        </div>        

    </div>
</div>


 -->
