@import './vars';

// Element reset

%reset {
    width: auto;
    height: auto;
    margin: $gap-0;
    padding: $gap-0;
    border: none;
    background: none;
    outline: none;
    text-decoration: none;
}

// Flex Box + Model

%flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
}

%flex-model {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%flex-vertical {
    flex-direction: column;
}
%flex-horizontal {
    flex-direction: row;
}

%flex-align-vert {
    align-items: center;
}

%flex-justify-between {
    justify-content: space-between;
}

// Element visibility

%visible {
    display: block;
}

%hidden {
    display: none;
}

// Element Custom Radius

%radius-all {
    -webkit-border-radius: $size-1-1;
    -moz-border-radius: $size-1-1;
    border-radius: $size-1-1;
}

%radius-half {
    -webkit-border-radius: $size-5-10;
    -moz-border-radius: $size-5-10;
    border-radius: $size-5-10;
}

%radius-button {
    -webkit-border-radius: $gap-2; 
    -moz-border-radius: $gap-2; 
    border-radius: $gap-2; 
}

// Custom Font Transformation

%uppercase {
    text-transform: $font-upper;
}

%lower {
    text-transform: $font-lower;
}

%capital {
    text-transform: $font-capital;
}

// Cursor

%cursor-default {
    cursor: url(./assets/images/cursor.svg), default !important;
}

%cursor-hover {
    cursor: url(./assets/images/cursor-hover.svg), e-resize !important;
}