/* Global styles, to run server: ng serve -o */

@import './vars',
        './preset',
        './mixins';

html,
body {
    @extend %reset;
    font-size: $base;
    font-family: $font;
}

*,
*::before,
*::after {
    @extend %flex-model;
    outline: none;
    text-decoration: none;
}

#{$header-group} {
    @extend %flex;
    @extend %flex-model;
    width: $size-1-1;
    margin: $gap-0;

    &.color-default {
        color: $primary;
    }
    &.color-inactive {
        color: $grey-4;
    }
    &.color-accent {
        color: $accent;
    }
    &.thin { font-weight: $font-weight-1; }
    &.extra-light { font-weight: $font-weight-2; }
    &.light { font-weight: $font-weight-3; }
    &.normal { font-weight: $font-weight-4; }
    &.medium { font-weight: $font-weight-5; }
    &.semi-bold { font-weight: $font-weight-6; }
    &.bold { font-weight: $font-weight-7; }
    &.extra-bold { font-weight: $font-weight-8; }
    &.black { font-weight: $font-weight-9; }
}

h1 {
    font-size: $gap-12;
    line-height: $gap-12 + $gap-2;
    letter-spacing: $gap-1 / 10;
}

.com-wrapper {
    @extend %flex;
    @extend %flex-model;
    
    &.split-screen {
        padding: $gap-0;
    }
    &.default,
    &.full-screen {
        @include breakpoints(mobile) {
            padding: $gap-2 $gap-1;
        }
        @include breakpoints(tablet) {
            padding: $gap-4 $gap-2;
        }
        @include breakpoints(notebook) {
            padding: $gap-6 $gap-3;
        }
        @include breakpoints(laptop) {
            padding: $gap-8 $gap-4;
        }
        @include breakpoints(widescreen) {
            padding: $gap-10 $gap-5;
        }
    }
    &.advanced {
        @include breakpoints(mobile) {
            padding: $gap-4 $gap-2;
        }
        @include breakpoints(tablet) {
            padding: $gap-6 $gap-3;
        }
        @include breakpoints(notebook) {
            padding: $gap-8 $gap-4;
        }
        @include breakpoints(laptop) {
            padding: $gap-10 $gap-5;
        }
        @include breakpoints(widescreen) {
            padding: $gap-12 $gap-6;
        }        
    }

    .com-container {
        @extend %flex;
        @extend %flex-model;

    }
}
