//Global styles,
//to run server: ng serve -o
//to create new component: ng g c <name>

@import '/src/vars';

:root {

    html,
    body {
        width: auto;
        height: auto;
        margin: $gap-0;
        padding: $gap-0;
        border: none;
        background: none;
        outline: none;
        text-decoration: none;
        font-size: $base;
        font-family: $font;
    }
    
    // *,
    // *::before,
    // *::after {
    //     display: -webkit-box;
    //     display: -webkit-flex;
    //     display: -ms-flexbox;
    //     display: flex;        
    //     -webkit-box-sizing: border-box;
    //     -moz-box-sizing: border-box;
    //     box-sizing: border-box;
    //     outline: none;
    //     text-decoration: none;
    // }
    
    a,
    a:visited {
        color: inherit;
        text-decoration: none;
    }
    
}

