// Colors

$white: #FFFFFF;
$black: #111111;
$grey-1: #F9F9FA;
$grey-2: #ECEEF0;
$grey-3: #DEE1E5;
$grey-4: #98A0AE;
$grey-5: #626D7D;
$primary: #0060FF;
$primary-highlight: #66A0FF;
$primary-shadow: #001D4D;
$accent: #00D7F3;
$accent-highlight: #80F0FF;

// Media Query Breakpoints

$mobile-end: '375px';
$tablet-start: '376px';
$tablet-end: '768px';
$notebook-start: '769px';
$notebook-end: '1365px';
$laptop-start: '1366px';
$laptop-end: '1440px';
$widescreen-start: '1441px';
$widescreen-end: '1920px';

// Media Query Box Gap

$box-gap-mobile: 1em 1em;
$box-gap-tablet: 1em 2em;
$box-gap-notebook: 1em 4em;
$box-gap-laptop: 1.5em 6em;
$box-gap-widescreen: 3em 12em;

// Element Gap

$gap-0: 0;
$gap-1: 1em;
$gap-2: 1.5em;
$gap-3: 2.25em;
$gap-4: 3em;
$gap-5: 4em;
$gap-6: 6em;
$gap-7: 8em;

// Element Width

$width-1-1: 100%;
$width-9-10: 90%;
$width-8-10: 80%;
$width-3-4: 75%;
$width-7-10: 70%;
$width-2-3: 66%;
$width-6-10: 60%;
$width-5-10: 50%;
$width-4-10: 40%;
$width-1-3: 33%;
$width-3-10: 30%;
$width-2-10: 20%;
$width-1-10: 10%;
$width-gold-1: 61.803%;
$width-gold-2: 38.197%;

// Font Family
$font: 'Lato', sans-serif;


// Fonts Size

$font-size-0: 8em;
$font-size-1: 6em;
$font-size-2: 4em;
$font-size-3: 3em;
$font-size-4: 2.25em;
$font-size-5: 2em;
$font-size-6: 1.5em;
$font-size-7: 1em;
$font-size-8: 0.875em;

// Font Line Height

$font-line-0: 7.75em;
$font-line-1: 6.25em;
$font-line-2: 4.25em;
$font-line-3: 3.25em;
$font-line-4: 2.5em;
$font-line-5: 2.25em;
$font-line-6: 1.75em;
$font-line-7: 1.25em;
$font-line-8: 1.125em;

// Font Weight

$font-weight-1: 100; // Thin (Hairline)
$font-weight-2: 200; // Extra Light (Ultra Light)
$font-weight-3: 300; // Light
$font-weight-4: 400; // Normal
$font-weight-5: 500; // Medium
$font-weight-6: 600; // Semi Bold (Demi Bold)
$font-weight-7: 700; // Bold
$font-weight-8: 800; // Extra Bold (Ultra Bold)
$font-weight-9: 900; // Black (Heavy)

// Font Variant
$default: normal;
$caps: small-caps;

// Text Transform
$upper: uppercase;
$lower: lowercase;
$capital: capitalize;

// H1-h6
$header-group: 'h1, h2, h3, h4, h5, h6';

%reset {
    margin: $gap-0;
    padding: $gap-0;
    outline: $gap-0;
}

// Flex Box + Model

%box-model {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%box-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
}

%box-visible {
    display: block;
}

%box-hidden {
    display: none;
}

%flex-vertical {
    flex-direction: column;
}
%flex-horizontal {
    flex-direction: row;
}

// align-items: flex-start;

%uppercase {
    text-transform: $upper;
}

%lower {
    text-transform: $lower;
}

%capital {
    text-transform: $capital;
}

/*
%cursor-default {
    cursor: url(../assets/images/cursor.svg), default !important;
}

%cursor-hover {
    cursor: url(../assets/images/cursor-hover.svg), e-resize !important;
}
*/
%box-radius-1-1 {
    -webkit-border-radius: $width-1-1;
    -moz-border-radius: $width-1-1;
    border-radius: $width-1-1;
}
%box-radius-1-2 {
    -webkit-border-radius: $width-5-10;
    -moz-border-radius: $width-5-10;
    border-radius: $width-5-10;
}
%box-radius-button {
    -webkit-border-radius: $font-size-8; 
    -moz-border-radius: $font-size-8; 
    border-radius: $font-size-8; 
}
%border-input {
    border-color: $grey-2;
    border-style: solid;
    border-width: 1px;
}
